<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<div layout:fragment="content">
  <div class="card">
    <div class="card-body">
      <h3>회원가입</h3>
      <form method="post" action="/join">
        <div class="mb-3">
          <label for="userID" class="form-label">아이디</label>
          <input type="text" class="form-control" id="userID" name="userID" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="userPassword" class="form-label">비밀번호</label>
          <input type="password" class="form-control" id="userPassword" name="userPassword">
        </div>
        <div class="mb-3">
          <label for="userName" class="form-label">이름</label>
          <input type="text" class="form-control" id="userName" name="userName">
        </div>
        <div class="mb-3">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="userGender" id="inlineRadio1" value="남자" checked>
            <label class="form-check-label" for="inlineRadio1">남자</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="userGender" id="inlineRadio2" value="여자">
            <label class="form-check-label" for="inlineRadio2">여자</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="userGender" id="inlineRadio3" value="기타" disabled>
            <label class="form-check-label" for="inlineRadio3">기타 (disabled)</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="userEmail" class="form-label">이메일</label>
          <input type="email" class="form-control" id="userEmail" name="userEmail">
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
      </form>
    </div>
  </div>
  <div th:if="${msg != null}" th:text="${msg}"></div>
</div>
</html>