<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<div layout:fragment="content">
  <div class="card">
    <div class="card-header"><h1>웹 사이트 소개</h1></div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <pre>
  thymeleaf,
  bootstrap,
  spring boot,
  oracle db,
  mybatis,
  git,
  oracle cloud

  동빈나 JSP 게시판 만들기 보고 따라만듬
  https://github.com/sproutbro/bbs01.git
      </pre>
      </blockquote>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true" style="width: 18rem;">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/img/stars-g990052656_640.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/img/technology-g789607d1e_640.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

</div>
</html>