<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<div layout:fragment="content">
  <form method="post" action="/write">
  <table class="table">
    <thead>
    <tr>
      <th scope="col" colspan="2">게시판 글쓰기 양식</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row"><input type="text" class="form-control" placeholder="글 제목" name="bbsTitle" maxlength="50"></th>
    </tr>
    <tr>
      <td><textarea class="form-control" placeholder="글 내용" name="bbsContent"></textarea></td>
    </tr>
    </tbody>
  </table>
  <input class="btn btn-primary" type="submit" value="글 쓰기">
  <a href="/bbs">
    <button type="button" class="btn btn-primary">목록</button>
  </a>
  </form>

  <div th:if="${bbsID != null}">
    <span th:text="${bbsID}"></span>번째 글 등록완료
  </div>
</div>
</html>